{% extends 'admin_dashboard/dashboard.html.twig' %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header pb-0">
                    <h6>Add New Product</h6>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        <div class="mb-3">
                            {{ form_label(form.nameproduct) }}
                            {{ form_widget(form.nameproduct, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.priceproduct) }}
                            {{ form_widget(form.priceproduct, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.stock) }}
                            {{ form_widget(form.stock, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.category) }}
                            {{ form_widget(form.category, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.image) }}
                            {{ form_widget(form.image, { 'attr': {'class': 'form-control'} }) }}
                        </div>
                        <button class="btn btn-success">Save</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
