{% extends 'front_office_dashboard/base.html.twig' %}
{% block title %}Blog{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block banner %}
<!--================= Banner Section Start Here =================-->
        <div class="banner banner1">
            <div class="inner-page-banner banner-bg">
                <div class="container">
                    <div class="banner-content">
                        <div class="page-path">
                            <ul>
                                <li><a class="home-page-link" href="index.html">Home</a></li>
                                <li><a class="current-page" href="#">BLOG</a></li>
                            </ul>
                        </div>
                        <h1 class="banner-heading">BLOG & INSIGHTS</h1>
                    </div>
                </div>
            </div>
        </div>
        <!--================= Banner Section End Here =================-->
    
{% endblock %}
{% block content %}
 <!--news-feed-area start-->
    <section class="news-feed-section section-gap">
        <div class="container">
            <div class="row mb-15">
                <div class="col-xl-9 col-md-8">
                    <div class="news-feed-area">
                        <div class="blog-item feed-blog-item">
                            <a href="blog-details.html" class="blog-picture"><img src="{{ asset('assets/images/blog/feed1.jpg') }}"
                                    alt="blog-image"></a>
                            <div class="contents">
                                <div class="flex-wrapper">
                                    <span class="catagory-tag">BUSINESS, DESIGN</span>
                                    <div class="blog-author">
                                        <div class="author-dp"><img src="{{ asset('assets/images/items/author8.png') }}"
                                                alt="author-dp"></div>
                                        <span class="author-name">BY HETMAYAR</span>
                                    </div>
                                </div>
                                <a href="blog-details.html" class="blog-title">SERVICE CONSTRUCT DEALS PHYSICAL DAMAG0
                                    WITH
                                    HIS
                                    BASIC ATTACK IN THE MATCH.</a>
                                <p>Novia's spaciously two bedroom apartments are perfect for families and even business
                                    partners. Look out into the Manhattan skyline from the open fully equipped kitchen.
                                </p>

                                <div class="blog-bottom-action">
                                    <span class="item views"><i class="fas fa-eye"></i> 100 Views</span>
                                    <div class="separator"></div>
                                    <span class="item comments"><i class="fas fa-comments"></i> 30 Comments</span>
                                    <div class="separator"></div>
                                    <span class="item date"><i class="fas fa-calendar-alt"></i> 24th June 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item feed-blog-item">
                            <div class="blog-picture"><img src="{{ asset('assets/images/blog/feed2.jpg') }}" alt="blog-image">
                                <div class="play-btn play-video"><a class="popup-video"
                                        href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                        data-effect="mfp-move-horizontal"><i class="fas fa-play"></i></a>
                                </div>
                            </div>

                            <div class="contents">
                                <div class="flex-wrapper">
                                    <span class="catagory-tag">BUSINESS, DESIGN</span>
                                    <div class="blog-author">
                                        <div class="author-dp"><img src="{{ asset('assets/images/items/author8.png') }}"
                                                alt="author-dp"></div>
                                        <span class="author-name">BY HETMAYAR</span>
                                    </div>
                                </div>
                                <a href="blog-details.html" class="blog-title">SERVICE CONSTRUCT DEALS PHYSICAL DAMAG0
                                    WITH
                                    HIS
                                    BASIC ATTACK IN THE MATCH.</a>
                                <p>Novia's spaciously two bedroom apartments are perfect for families and even business
                                    partners. Look out into the Manhattan skyline from the open fully equipped kitchen.
                                </p>

                                <div class="blog-bottom-action">
                                    <span class="item views"><i class="fas fa-eye"></i> 100 Views</span>
                                    <div class="separator"></div>
                                    <span class="item comments"><i class="fas fa-comments"></i> 30 Comments</span>
                                    <div class="separator"></div>
                                    <span class="item date"><i class="fas fa-calendar-alt"></i> 24th June 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item feed-blog-item">
                            <div class="swiper oneManual">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <a href="blog-details.html" class="blog-picture"><img
                                                src="{{ asset('assets/images/blog/feed3.jpg') }}" alt="blog-image"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="blog-details.html" class="blog-picture"><img
                                                src="{{ asset('assets/images/blog/feed2.jpg') }}" alt="blog-image"></a>
                                    </div>
                                    <div class="swiper-slide">
                                        <a href="blog-details.html" class="blog-picture"><img
                                                src="{{ asset('assets/images/blog/feed1.jpg') }}" alt="blog-image"></a>
                                    </div>
                                </div>
                                <div class="slider-navigation">
                                    <button class="slide-prev slide-btn"><i class="far fa-arrow-left"></i></button>
                                    <button class="slide-next slide-btn"><i class="far fa-arrow-right"></i></button>
                                </div>
                            </div>
                            <div class="contents">
                                <div class="flex-wrapper">
                                    <span class="catagory-tag">BUSINESS, DESIGN</span>
                                    <div class="blog-author">
                                        <div class="author-dp"><img src="{{ asset('assets/images/items/author8.png') }}"
                                                alt="author-dp"></div>
                                        <span class="author-name">BY HETMAYAR</span>
                                    </div>
                                </div>
                                <a href="blog-details.html" class="blog-title">SERVICE CONSTRUCT DEALS PHYSICAL DAMAG0
                                    WITH
                                    HIS
                                    BASIC ATTACK IN THE MATCH.</a>
                                <p>Novia's spaciously two bedroom apartments are perfect for families and even business
                                    partners. Look out into the Manhattan skyline from the open fully equipped kitchen.
                                </p>

                                <div class="blog-bottom-action">
                                    <span class="item views"><i class="fas fa-eye"></i> 100 Views</span>
                                    <div class="separator"></div>
                                    <span class="item comments"><i class="fas fa-comments"></i> 30 Comments</span>
                                    <div class="separator"></div>
                                    <span class="item date"><i class="fas fa-calendar-alt"></i> 24th June 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item feed-blog-item">
                            <a href="blog-details.html" class="blog-picture"><img
                                    src="{{ asset('assets/images/blog/soundcloud.png') }}" alt="blog-image"></a>
                            <div class="contents">
                                <a href="blog-details.html" class="blog-title">SERVICE CONSTRUCT DEALS PHYSICAL DAMAG0
                                    WITH
                                    HIS
                                    BASIC ATTACK IN THE MATCH.</a>
                                <p>Novia's spaciously two bedroom apartments are perfect for families and even business
                                    partners. Look out into the Manhattan skyline from the open fully equipped kitchen.
                                </p>

                                <div class="blog-bottom-action">
                                    <span class="item views"><i class="fas fa-eye"></i> 100 Views</span>
                                    <div class="separator"></div>
                                    <span class="item comments"><i class="fas fa-comments"></i> 30 Comments</span>
                                    <div class="separator"></div>
                                    <span class="item date"><i class="fas fa-calendar-alt"></i> 24th June 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="blog-item feed-blog-item">
                            <div class="contents border-top-on">
                                <a href="blog-details.html" class="blog-title">SERVICE CONSTRUCT DEALS PHYSICAL DAMAG0
                                    WITH
                                    HIS
                                    BASIC ATTACK IN THE MATCH.</a>
                                <p>Novia's spaciously two bedroom apartments are perfect for families and even business
                                    partners. Look out into the Manhattan skyline from the open fully equipped kitchen.
                                </p>

                                <div class="blog-bottom-action">
                                    <span class="item views"><i class="fas fa-eye"></i> 100 Views</span>
                                    <div class="separator"></div>
                                    <span class="item comments"><i class="fas fa-comments"></i> 30 Comments</span>
                                    <div class="separator"></div>
                                    <span class="item date"><i class="fas fa-calendar-alt"></i> 24th June 2024</span>
                                </div>
                            </div>
                        </div>
                        <div class="quote-box">
                            <div class="quote-area">
                                <div class="quote-icon"><img src="{{ asset('assets/images/icons/quote.svg') }}" alt="quote-icon"></div>
                                <div class="quote">
                                    OFFICE/PARTNERSHIP BY SUBMITTING ALL THE
                                    RELEVANT DOCUMENTS
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-pagination-area mt--50">
                        <button class="prev"><i class="fal fa-angle-double-left"></i></button>
                        <button class="number active">01</button>
                        <button class="number">02</button>
                        <button class="skip-number">---</button>
                        <button class="number">07</button>
                        <button class="number">08</button>
                        <button class="next"><i class="fal fa-angle-double-right"></i></button>
                    </div>
                </div>
                <div class="col-xl-3 col-md-4">
                    <div class="news-right-widget">
                        <div class="widget widget-author mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">About Me</h4>
                            </div>
                            <div class="widget-author-content text-center">
                                <img src="{{ asset('assets/images/items/user.png') }}" alt="Img">
                                <h5>ALONSO D. DOWSON</h5>
                                <p>Lorem ipsum dolor sit amet, consect etur adipisicing elit, sed do eiusmod tempor
                                    incididunt ut labore.</p>
                                <div class="author__social mt-15">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                    <a href="#"><i class="fab fa-linkedin"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget widget-search mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">Search Here</h4>
                            </div>
                            <form class="subscribe-form mb-10" action="#">
                                <input type="text" placeholder="Keyword...">
                                <button class="widget-btn"><i class="far fa-search"></i></button>
                            </form>
                        </div>
                        <div class="widget widget-post mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">Popular Feeds</h4>
                            </div>
                            <ul class="post-list">
                                <li>
                                    <div class="blog-post mb-30">
                                        <a href="news-details.html"><img src="{{ asset('assets/images/blog/quickblog1.jpg') }}"
                                                alt="Post Img"></a>
                                        <div class="post-content">
                                            <h6 class="mb-10"><a href="news-details.html">Having education in
                                                    an area helps</a></h6>
                                            <span class="fs-14"><i class="fas fa-calendar-alt"></i> 24th March
                                                2024</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="blog-post mb-30">
                                        <a href="news-details.html"><img src="{{ asset('assets/images/blog/quickblog2.png') }}"
                                                alt="Post Img"></a>
                                        <div class="post-content">
                                            <h6 class="mb-10"><a href="news-details.html">People think, feel, &
                                                    behave in a way</a></h6>
                                            <span class="fs-14"><i class="fas fa-calendar-alt"></i> 24th March
                                                2024</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="blog-post mb-30">
                                        <a href="news-details.html"><img src="{{ asset('assets/images/blog/quickblog3.png') }}"
                                                alt="Post Img"></a>
                                        <div class="post-content">
                                            <h6 class="mb-10"><a href="news-details.html">That contributes to
                                                    their success</a></h6>
                                            <span class="fs-14"><i class="fas fa-calendar-alt"></i> 24th March
                                                2024</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="widget widget-categories-list mb-40">
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">Categories</h4>
                            </div>
                            <ul class="list-none">
                                <li><a href="#"><i class="fal fa-angle-right"></i> Business <span
                                            class="f-right">26</span></a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Consultant <span
                                            class="f-right">30</span></a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Creative <span
                                            class="f-right">71</span></a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> UI/UX <span
                                            class="f-right">56</span></a></li>
                                <li><a href="#"><i class="fal fa-angle-right"></i> Technologys <span
                                            class="f-right">60</span></a></li>
                            </ul>
                        </div>
                        <div class="widget widget-categories-tag mb-40">
                            <div class="widget-title-box pb-25 mb-25">
                                <h4 class="widget-sub-title2 fs-20">TAGS</h4>
                            </div>
                            <div class="tag-list">
                                <a href="#">Popular</a>
                                <a href="#">Design</a>
                                <a href="#">UX</a>
                                <a href="#">Usability</a>
                                <a href="#">Develop</a>
                                <a href="#">Icon</a>
                                <a href="#">Business</a>
                                <a href="#">Consult</a>
                                <a href="#">Kit</a>
                                <a href="#">Keyboard</a>
                                <a href="#">Mouse</a>
                                <a href="#">Tech</a>
                            </div>
                        </div>
                        <div class="widget widget-sponsors-ad">
                            <div class="widget-title-box pb-25 mb-25">
                                <h4 class="widget-sub-title2 fs-20">SPONSOR ADS</h4>
                            </div>
                            <a href="#">
                                <div class="ad-thumb"><img src="{{ asset('assets/images/blog/sponsorsad.jpg') }}" alt="sponsorad">
                                </div>
                                <span class="ad-tag">270X240</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--news-feed-area end-->

{% endblock %}
{% block footer %}
{{ parent() }}
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% endblock %}
