{% extends 'front_office_dashboard/base.html.twig' %}
{% block title %}matches schedule{% endblock %}
{% block stylesheets %}
    {{ parent() }}
   {% endblock %}
   {% block banner %}
   <!--================= Banner Section Start Here =================-->
    <div class="banner banner1">
        <div class="inner-page-banner banner-bg">
            <div class="container">
                <div class="banner-content">
                    <div class="page-path">
                        <ul>
                            <li><a class="home-page-link" href="{{ path('app_home') }}">Home</a></li>
                            <li><a class="current-page" href="#">SCHEDULE</a></li>
                        </ul>
                    </div>
                    <h1 class="banner-heading">MATCH SCHEDULE</h1>
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->

   {% endblock %}
   {% block content %}
   <!--================= Match Result Section Start Here =================-->
    <div class="rts-match-result-section rts-match-result-section2 rts-match-schedule-section section-gap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/1.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/6.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/3.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/4.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/4.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/5.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/6.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/7.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/8.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/9.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/10.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/11.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/12.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/13.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/14.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/15.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6">
                    <div class="match-single">
                        <div class="match-single-content">
                            <div class="match-scores">
                                <div class="club club1">
                                    <div class="club-logo mr--20"><img src="{{ asset('assets/images/clubs/16.png') }}" alt="club-logo">
                                    </div>
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">REAL M.</span>
                                    </div>
                                </div>
                                <div class="colon">:</div>
                                <div class="club club2">
                                    <div class="block">
                                        <h2 class="score-number">00</h2>
                                        <span class="club-name">HEMILTON H.</span>
                                    </div>
                                    <div class="club-logo ml--20"><img src="{{ asset('assets/images/clubs/17.png') }}" alt="club-logo">
                                    </div>
                                </div>
                            </div>
                            <div class="block-wrap">
                                <span class="match-date">PLAYOFF, JULY 21</span>
                                <span class="stadium-name">MC ARMY STADIUM</span>
                            </div>
                        </div>
                        <div class="match-bottom-action">
                            <a href="shop.html" class="action-item first-child">GET TICKETS</a>
                            <div class="play-video">
                                <a href="https://www.youtube.com/watch?v=G4t6TqG5LM8"
                                    class="action-item popup-video">WATCH STREAM</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Match Result Section End Here =================-->



    <!--================= Sponsors Section Start Here =================-->
    <div class="rts-sponsors-section rts-sponsors-section2 section-gap section-bg">
        <div class="container">
            <div class="section-title-area section-title-area2 text-center mb--50">
                <h1 class="section-title">BRAND SPONSORS</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo1.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo2.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo3.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo4.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo5.png') }}" alt="sponsor"></a>
                </div>
            </div>
            <div class="row justify-content-center last-child">
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo6.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo7.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo8.png') }}" alt="sponsor"></a>
                </div>
                <div class="col-xl-2 col-md-4 col-sm-6">
                    <a href="#" class="sponsor-single"><img src="{{ asset('assets/images/brands/logo9.png') }}" alt="sponsor"></a>
                </div>
            </div>
        </div>
    </div>
    <!--================= Sponsors Table Section End Here =================-->


   {% endblock %}
   {% block footer %}
   {{ parent() }}
   {% endblock %}
   {% block javascripts %}
   {{ parent() }}
   {% endblock %}
