
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('assets/css/news-details.css') }}">
{% endblock %}

{% block body %}
    <!-- News Details Section -->
    <section class="news-details-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <!-- News Content -->
                    <div class="news-content">
                        <div class="news-image">
                            <img src="{{ asset(news.image) }}" alt="{{ news.title }}" class="img-fluid">
                        </div>
                        <div class="news-meta">
                            <span><i class="far fa-calendar"></i> {{ news.publishedAt|date('F d, Y') }}</span>
                            <span><i class="far fa-user"></i> {{ news.author }}</span>
                            <span><i class="far fa-comments"></i> {{ news.comments|length }} Comments</span>
                            <span><i class="far fa-eye"></i> {{ news.views }} Views</span>
                        </div>
                        <h2 class="news-title">{{ news.title }}</h2>
                        <div class="news-text">
                            {{ news.content|raw }}
                        </div>
                        
                        <!-- Tags -->
                        {% if news.tags is not empty %}
                        <div class="news-tags">
                            <h4>Tags:</h4>
                            <ul>
                                {% for tag in news.tags %}
                                    <li><a href="{{ path('news_by_tag', {'tag': tag.slug}) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <!-- Share Buttons -->
                        <div class="news-share">
                            <h4>Share This News:</h4>
                            <div class="social-share">
                                <a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.uri }}" target="_blank"><i class="fab fa-facebook-f"></i></a>
                                <a href="https://twitter.com/intent/tweet?url={{ app.request.uri }}&text={{ news.title }}" target="_blank"><i class="fab fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ app.request.uri }}&title={{ news.title }}" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                            </div>
                        </div>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments-section">
                        <h3>Comments ({{ news.comments|length }})</h3>
                        {% if news.comments is not empty %}
                            {% for comment in news.comments %}
                                <div class="comment-item">
                                    <div class="comment-author">
                                        <img src="{{ asset(comment.author.avatar) }}" alt="{{ comment.author.name }}">
                                        <div class="author-info">
                                            <h5>{{ comment.author.name }}</h5>
                                            <span>{{ comment.createdAt|date('F d, Y H:i') }}</span>
                                        </div>
                                    </div>
                                    <div class="comment-content">
                                        {{ comment.content }}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <p>No comments yet. Be the first to comment!</p>
                        {% endif %}

                        <!-- Comment Form -->
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <div class="comment-form">
                                <h4>Leave a Comment</h4>
                                {{ form_start(commentForm) }}
                                    <div class="form-group">
                                        {{ form_widget(commentForm.content, {'attr': {'class': 'form-control', 'rows': '5', 'placeholder': 'Your comment...'}}) }}
                                    </div>
                                    <button type="submit" class="btn btn-primary">Post Comment</button>
                                {{ form_end(commentForm) }}
                            </div>
                        {% else %}
                            <div class="login-to-comment">
                                <p>Please <a href="{{ path('app_login') }}">login</a> to leave a comment.</p>
                            </div>
                        {% endif %}
                    </div>
                </div>

                <!-- Sidebar -->
                <div class="col-lg-4">
                    <!-- Search Widget -->
                    <div class="sidebar-widget search-widget">
                        <form action="{{ path('news_search') }}" method="GET">
                            <input type="text" name="q" placeholder="Search news...">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </form>
                    </div>

                    <!-- Recent News Widget -->
                    <div class="sidebar-widget recent-news">
                        <h4>Recent News</h4>
                        <ul>
                            {% for recentNews in recentNews %}
                                <li>
                                    <a href="{{ path('news_details', {'slug': recentNews.slug}) }}">
                                        <img src="{{ asset(recentNews.image) }}" alt="{{ recentNews.title }}">
                                        <div class="news-info">
                                            <h5>{{ recentNews.title }}</h5>
                                            <span>{{ recentNews.publishedAt|date('F d, Y') }}</span>
                                        </div>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Categories Widget -->
                    <div class="sidebar-widget categories">
                        <h4>Categories</h4>
                        <ul>
                            {% for category in categories %}
                                <li>
                                    <a href="{{ path('news_by_category', {'slug': category.slug}) }}">
                                        {{ category.name }}
                                        <span>({{ category.newsCount }})</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Tags Widget -->
                    <div class="sidebar-widget tags">
                        <h4>Popular Tags</h4>
                        <div class="tag-cloud">
                            {% for tag in popularTags %}
                                <a href="{{ path('news_by_tag', {'tag': tag.slug}) }}" class="tag-item">
                                    {{ tag.name }}
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/news-details.js') }}"></script>
{% endblock %}