{% extends 'front_office_dashboard/base.html.twig' %}
{% block title %}Team Details{% endblock %}
{% block banner %}
    <!--================= Banner Section Start Here =================-->
     <div class="banner banner1">
        <div class="inner-page-banner banner-bg">
            <div class="container">
                <div class="banner-content">
                    <div class="page-path">
                        <ul>
                            <li><a class="home-page-link" href="{{ path('app_home') }}">Home</a></li>
                            <li><a class="current-page" href="#">Team</a></li>
                        </ul>
                    </div>
                    <h1 class="banner-heading">OUR AVENGERS</h1>
                </div>
            </div>
        </div>
    </div>
    <!--================= Banner Section End Here =================-->
{% endblock %}
{% block content %}
  <!--================= Player Details Section Start Here =================-->
    <div class="rts-player-details-section rts-team-details-section section-gap section-bg">
        <div class="container">
            <div class="player-details-single">
                <div class="player-picture">
                    <img src="{{ asset('assets/images/about/playerpic.png') }}" alt="playerspic">
                </div>
                <div class="contents">
                    {# <span class="player-position-number">#{{ team.number }}</span>
                    <h2 class="player-name">{{ team.name }}</h2>
                    <h3 class="player-role">{{ team.position }}</h3>
                    <p>{{ team.description }}</p> #}

                    {# <a href="{{ path('app_player_details', {'id': team.id}) }}" class="more-details-btn">
                        MORE DETAILS <i class="far fa-long-arrow-right ml--5"></i>
                    </a> #}
                </div>
                <div class="player-status-area">
                    <div class="status-box">
                        {# <span class="box-title">{{ team.season }} STATUS</span> #}
                        <div class="status-item">
                            <span class="status-name">Games Played</span>
                            {# <span class="status-number">{{ team.stats.gamesPlayed }}</span> #}
                        </div>
                        <div class="status-item">
                            <span class="status-name">Minutes played</span>
                            {# <span class="status-number">{{ team.stats.minutesPlayed }}</span> #}
                        </div>
                        <div class="status-item">
                            <span class="status-name">Goals</span>
                            {# <span class="status-number">{{ team.stats.goals }}</span> #}
                        </div>
                        <div class="status-item">
                            <span class="status-name">Assists</span>
                            {# <span class="status-number">{{ team.stats.assists }}</span> #}
                        </div>
                        <div class="status-item">
                            <span class="status-name">Jersey Number</span>
                            {# <span class="status-number">{{ team.number }}</span> #}
                        </div>
                    </div>
                    <div class="status-percentage">
                        <div class="sp-item">
                            {# <span class="per">{{ team.stats.possession }}<span>%</span></span> #}
                            <span class="title">POSSESSION</span>
                        </div>
                        <div class="sp-item">
                            {# <span class="per">{{ team.stats.tackles }}<span>%</span></span> #}
                            <span class="title">TACKLES</span>
                        </div>
                        <div class="sp-item">
                            {# <span class="per">{{ team.stats.dribbling }}<span>%</span></span> #}
                            <span class="title">DRIBBLING</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--================= Player Details Section End Here =================-->

    <!--================= Point Table Section Start Here =================-->
    <div class="rts-point-table-section section-gap">
        <div class="container">
            <div class="section-title-area section-title-area-inner text-center mb--50">
                <h1 class="section-title">PLAYER ACTIVITY</h1>
                {# <p>{{ team.activityDescription }}</p> #}
            </div>
            <div class="table-area table-full">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                    </thead>
                    <tbody>
                        <tr class="head-tr">
                            <th scope="col">SEASON</th>
                            <th scope="col">CLUB NAME</th>
                            <th scope="col">GOAL</th>
                            <th scope="col">ASSISTS</th>
                            <th scope="col">YELLOW CARD</th>
                            <th scope="col">RED CARD</th>
                        </tr>
                        {# {% for activity in team.activities %}
                            <tr>
                                <td><span class="position-number">{{ activity.season }}</span></td>
                                <td>
                                    <div class="player-name-area">
                                        <h4 class="player-name">{{ activity.clubName }}</h4>
                                    </div>
                                </td>
                                <td><span class="match-count">{{ activity.goals }}</span></td>
                                <td><span class="win-count">{{ activity.assists }}</span></td>
                                <td><span class="draw-count">{{ activity.yellowCards }}</span></td>
                                <td><span class="lose-count">{{ activity.redCards }}</span></td>
                            </tr>
                        {% endfor %} #}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--================= Point Table Section End Here =================-->

{% endblock %}
{% block footer %}
    {{ parent() }}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
